.chatroom__line{ class: current_user.messages.include?(message) ? "justify-end" : "justify-start" }
  .chatroom__message-container{ class: current_user.messages.include?(message) ? "items-end" : "items-start" }
    .chatroom__message-user
      = message.user.username
    .chatroom__message{ class: current_user.messages.include?(message) ? "chatroom__message--me" : "chatroom__message--other" }
      = message.body
      .chatroom__time-ago 
        = time_ago_in_words(message.created_at)