.chatroom__line.justify-start
  .chatroom__message-container.items-start
    .chatroom__message-user
      = message.user.username
    .chatroom__message.chatroom__message--other
      = message.body
      .chatroom__time-ago 
        = time_ago_in_words(message.created_at)