.home{"data-controller": "home"}
  %h1.text-2xl.my-2 Es importante respetar los nombres de las carpetas
  %p Y también los singulares y plurales de los nombres.
  = current_user.email
  
  = link_to 'Cerrar Sesión', destroy_user_session_path, method: 'delete', class: 'top-navbar__popover--session'
